@charset "UTF-8";
*
{
    margin: 0px;
    font-family: "Istok Web", sans-serif;
}
/* ---------------------------------HEADER GERAL------------------------------------------- */
header
    {
        top: 20px;
        left: 0px;
        width: 100%;
        height: 70px;
        color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;
    }
    .cont-cell
    {
        display: flex;
        width: 100%;
        height: 70px;
        align-items: center;
        justify-content: space-between;
    }
#lupa
{
    background-image: url(imagens/Group\ 1058.png);
    width: 58px;
    height: 58px;
    border-radius: 50%;

}
ul
{
    list-style-type: none;
}
ul>li>a
{
    text-decoration: none;
    color: white;
}
.ver-duvida
{
width: 250px;
height: 200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

/* ---------------------------------HEADER GERAL------------------------------------------- */

/* ---------------------------------Section Homem-Geral------------------------------------------ */
#section1-phone
{
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0) 100%), url(imagens/hero-bg.png) no-repeat;
background-repeat: no-repeat;
background-position: right bottom;
background-size: cover;
height: 800px;
display: flex;
flex-direction: column;
align-items: center;
text-align: flex-start;
justify-content: center;
}
#sla
    {
        height: 545px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
.textbox
    {
        width: 290px;
        height: 81px;
        background-color: #000000;
        border-radius: 3px;
        color: white;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 20px 20px 20px 0px;
    }
.div-textbox
{
    width: 600px;
    height: 245px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.vertodos
    {
        
        font-weight: bold;
        font-size: 20px;
        width: 250px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vertodos>div
    {
        background-image: url(imagens/Group\ 1227.png);
        background-color: black;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        
    }
    .vertodos>p
    {
        width: 200px;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .boxduvidas
    {
    width: 290px;
    height: 46px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    }
    .boxduvidas>p
    {       
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
    }
    .boxduvidas>div
    {
    width: 22px;
    height: 22px;
    background-image: url(imagens/Union.png);
    margin: 30px;
    }
/* -----------------------------Section Homem-Geral---------------------------------------- */
/* -----------------------------Section Refri-Geral---------------------------------------- */
#refri
{
    
    margin-bottom: 10px;
    background-color: #F1F1F1;
    height: 362px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#refri-texto
{
    width: 410px;
    height:250px ;
    color: #000000;
    font-size: 32px;
}
#refri-imagem
{
    width: 500px;;
    height:105px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
#coca
{
    height: 110px;
    width: 190px;
    background-repeat: no-repeat;
    background-image: url(imagens/sap-partner-logo-2A876A4A2A-seeklogo\ 1.svg);
    background-size: contain;
}
#pepsi
{
    height: 100px;
    width: 240px;
    background-repeat: no-repeat;
    background-image: url(imagens/sap-business-one-logo-banner\ 1.svg);
    background-size: contain;
}
/* -----------------------------Section Refri-Geral---------------------------------------- */
/* -----------------------------Section Mulher-Geral---------------------------------------- */
#mulher
{
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    text-align: center;
}
#img-mulher
{
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-top: 30px;
}
#button-mulher
{
    display: flex;
    width: 298px;
    height: 48px;
    justify-content: space-between;
}
#button-mulher-2
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 298px;
}
#atual
{
    background-color: #706ef4;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#anos
{
    color: #706ef4;
    border: 2px solid #706ef4;
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-mulher
{
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: start;
    border-bottom: 4px solid #706EF4;
    position: relative;
}
.texto-mulher::before
{
    content: url(imagens/Group\ 1067.svg);
    margin-right: 10px;
}
/* -----------------------------Section Mulher-Geral---------------------------------------- */

/* -----------------------------Section Video-Geral---------------------------------------- */
#video
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#video>.container>.row
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
#video>.container>.row>h1
{
    font-size: 60px;
    font-weight: bold;
}
#div-video
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#box-video-1
{
    margin-bottom: 40px;
    background-image: url(imagens/Rectangle\ 76.png);
    background-size: cover;
    position: relative;
}
#box-video-2
{
    margin-bottom: 40px;
    background-image: url(imagens/Rectangle\ 74.png);
    background-size: cover;
    position: relative;
}
.texto-video
{
    background-color: #706EF4;
    height: 66px;
    margin-top: -45px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.play::after
{
    content: "";
    background-image: url(imagens/Group\ 721.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
/* -----------------------------Section Video-Geral---------------------------------------- */

/* -----------------------------Footer-Geral---------------------------------------- */

#footer
    {
        background-color: #121212;
        color: white;
        padding: 0;
        margin: 0;
    }
    #logo-footer
    {
        display: flex;
        justify-content: center;
    }
    .h1-footer
    {
        font-size: 18px;
        font-weight: bolder;
    }
    h2.text-footer
    {
        font-weight: bold;
    }
    .text-footer
    {
        font-size: 16px;
        margin: 0;
        width: 100%;
    }
    #visitar>p
    {
        font-size: 20px;
        font-weight:500;
    }

    #ul-footer
    {
        padding: 0;
    }
    #footer>.container-fluid,#footer>.container-fluid>.row
    {
        height: 100%;
    }
    #cont-footer
    {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

    }
    #onde
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 420px;
        width: 290px;
    }
    #onde-texto
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 270px;
        width: 80%;
    }
    #visitar
    {
        height: 74px;
        width: 100%;
        border-radius: 3px;
        background-color: #706EF4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 450px;
    }
    #onde-resto
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 140px;
    }
    #adicional
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    #direitos,#politicas
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
    }
    #direitos>.text-footer
    {
        width: 100%;
    }
    #direitos>.text-footer::after
    {
        content: url(imagens/Group.svg);
        position: relative;
        width: 50px;
        height: 10px;
        margin-left: 5px;
        transform: translate(0,-10%);
        top: 3px;
    }
    a.text-footer
    {
        text-decoration: none;
    }
/* -----------------------------Footer-Geral---------------------------------------- */

/*---------------------------------------- MENU BURGUER----------------------------------------------------------*/
#col-burguer
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
#burguer
{
    height: 60px;
    width: 60px;
    position: relative;
    pointer-events: all;
}
#burguer > div> span
{
    height: 4px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease;

}

#burguer > div> span:nth-child(1)
{
    top:25%;
}
#burguer > div> span:nth-child(3)
{
    top:75%;
}
#burguer.active > div> span:nth-child(1)
{
    top: 55%;
    transform: translate(-50%, -50%) rotate(45deg);
}
#burguer.active > div> span:nth-child(2)
{
    opacity: 0;
}
#burguer.active > div> span:nth-child(3)
{
    top:50%;
    transform: translate(-50%,50%) rotate(-45deg);
}
.offscreen-menu
{
    background-color: #121212d1;
    height: 100vh;
    width:100vw;
    position: fixed;
    top: 70px;
    left: -1500px;
    font-size: 3rem;
    transition: .3s ease-in-out;
}
.offscreen-menu-on
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.offscreen-menu.active
{
    left: 0;
    z-index: 1;
}
.offscreen-menu>ul
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding: 0;
}
.offscreen-menu>ul>li
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    font-size: 21px;
}
.link-drop-burguer:hover
{
    background-color:#4C4CA8;
}
.drop-menu-burguer
{
    position: absolute;
    background-color: #000000;
    font-size: 21px;
    width: 288px;
    height: 237px;
    border-radius: 20px;
    transform: translate(-22%,0);
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    left: 0;
    top:90%;
    display: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}
.dropdown:hover .drop-menu-burguer
{
    display: flex;
    transform: translateY(0px);
    pointer-events: all;
    transform: translate(-22%,0);
}
.drop-menu-burguer>ul
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    text-align: center;
    padding: 0;
}
.link-drop-burguer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 21px;
}
/*---------------------------------------- MENU BURGUER----------------------------------------------------------*/
/* ------------------------------------DROP MENU-------------------------------- */
.link-desktop
    {
        background: none;
        border: none;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: white;
        cursor: pointer;
    }
    .dropdown
    {
        position: relative;
    }
    .dropdown::after
    {
        content: "";
        position: absolute;
        background-image: url(imagens/Vector\ 5.svg);
        width: 15px;
        height: 10px;
        background-repeat: no-repeat;
        top: 20%;
        transition: rotate 150ms ease-in-out;
    }
    .dropdown:hover::after
    {
        transform: rotate(180deg);
    }
.drop-menu
{
    position: absolute;
    background-color: #706ef4ca;
    font-size: 21px;
    width: 288px;
    height: 237px;
    border-radius: 20px;
    transform: translate(-22%,0);
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    left: 0;
    top:90%;
    display: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}
.dropdown:hover .drop-menu
{
    display: flex;
    transform: translateY(0px);
    pointer-events: all;
    transform: translate(-22%,0);
}
.drop-menu>ul
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    text-align: center;
    padding: 0;
}
.drop-menu>ul>li
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.drop-menu>ul>li:hover
{
    background-color: #4C4CA8;
}

/* ------------------------------------DROP MENU-------------------------------- */


@media screen and (max-width:767px) 
{
    /* ---------------------------------HEADER------------------------------------------- */
header
{
    top: 0;
    text-align: center;
    align-items: center;
    background-color: black;
    position: fixed;
}
.cont-cell
{
    box-shadow: 1px 1px 5px rgba(55, 51, 51, 0.589);
}
/* ---------------------------------HEADER------------------------------------------- */

/* ---------------------------------Section-Homem------------------------------------------- */
#section1-phone
{
    background-image:linear-gradient(to bottom, #413e8c7c, #706ef4) ;
    background-color: lightblue;
    height: 720px;
    text-align: center;
    justify-content: space-evenly;
}
#sla
{
    height: 720px;
    align-items: center;
}
#sla>svg
{
    margin: 60px; 
}
.titulo
{
    width: 290px;
    height: 84px;
}
#section1-phone>#sla>.titulo>h1
{
    color: white;
    font-weight: bold;
}
.textbox
{
    padding-left: 30px;
    font-size: 20px;
    padding-top: 10px; 
    margin: 0;
}
.boxduvidas>p
{
    margin-right: 10px;
    width: 170px;
}
.div-textbox
{
    width: 300px;
    height: 180px;
    align-content: space-between;
}
#section1-phone>#sla>.ver-duvida>.vertodos
{
    color: white;
}
/* ---------------------------------Section Homem------------------------------------------- */

/* ---------------------------------Section Refri------------------------------------------- */
.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#refri-texto
{
    width: 300px;;
    height:170px ;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 24px;
}

#refri-imagem
{
    width: 350px;
    height:62px ;
}
#coca
{
    height: 65px;
    width: 110px;
    background-image: url(imagens/sap-partner-logo-2A876A4A2A-seeklogo\ 1.png);
}

#pepsi
{
    height: 50px;
    width: 135px;
}

/* ---------------------------------Section Refri------------------------------------------- */

/* ---------------------------------Section Mulher------------------------------------------- */
#mulher
{
    align-items: center;
}
#img-mulher>
{
    height: 300px;
    background-image: url(imagens/Group\ 1220.png);
}
.texto-mulher
{
    padding: 10px;
    margin: 15px;
}

/* ---------------------------------Section Mulher------------------------------------------- */

/* ---------------------------------Section Video------------------------------------------- */
#video
{
    height: 800px;
}
#video>.container>.row
{
    height: 800px;
}
#video>.container>.row>h1
{
    font-size: 32px;
}
#div-video
{
    justify-content: center;
    height: 500px;
}

#box-video-1
{
    height: 165px;
    width: 291px;
    z-index: -1;
}

#box-video-2
{
    height: 165px;
    width: 291px;
    z-index: -1;
}
.texto-video
{
    padding-top: 20px;
    width: 291px;
}
.play::after
{
    height: 41px;
    width: 41px;
    top: 62px;
    left: 125px;
}

#video>.vertodos
{
    margin-top: 10px;
}
/* ---------------------------------Section Video------------------------------------------- */

/* ---------------------------------Footer------------------------------------------- */
#footer
{
    height: 1120px;
}
#row-footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mapa
{
    width: 290px;
}
}
/* ---------------------------------Footer------------------------------------------- */

@media screen and (min-width:768px) and (max-width:991px)
{
/* ---------------------------------Header------------------------------------------- */
    #burguer > div> span:nth-child(2)::after
{
    content: "MENU";
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -9px;
    left: 50px;
}

    #col-burguer
    {
        width: 118px;
    }
    #burguer
    {
        background-color: #000000;
        width: 118px;
        height: 52px;
    }
    #burguer > div> span
    {
        left: 25%;
    }
    .offscreen-menu
    {
        top: 0;
    }
/* ---------------------------------Header------------------------------------------- */

/* ---------------------------------Section Homem------------------------------------------- */

    #section1-phone>svg
    {
        display: none;
    }
    .titulo
    {
        width: 584;
        height: 120px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #section1-phone>#sla>.titulo>h1
    {
        font-weight: bold;
        color: white;
        font-size: 60px;
        margin-top: 70px;
    }
    .textbox>p
    {
        transform: translate(10%,20%);
        
    }
    .div-textbox
    {
        margin-top: 70px;
    }
    #section1-phone>#sla>.ver-duvida>.vertodos
    {
        color: white;
    }
    .ver-duvida
    {
        width: 600px;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }
/* ---------------------------------Section Homem------------------------------------------- */

/* ---------------------------------Section Refri------------------------------------------- */
    .row
    {
    display: flex;
    justify-content: center;
    align-items: center;
    }
#refri-texto
{
    width: 630px;;
    height:170px ;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
/* ---------------------------------Section Refri------------------------------------------- */

/* ---------------------------------Section Mulher------------------------------------------- */
#mulher
{
    height: 1300px;
}
#mulher>.container>.row
{
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 1300px;
}
#img-mulher
{
    height: 454px;
    width: 454px;
    background-image: url(imagens/Group\ 1220.png);
}
.titulo-mulher
{
    height: 70px;
    width: 545px;
}
.titulo-mulher>h1
{
    font-size: 60px;
    font-weight: bold;
}
.titulo-mulher>p
{
    font-size: 18px;
    color: #858585;
}
#div-texto-mulher
{
    height: 50px;
    width: 700px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows:50px;
    gap: 30px;
}    
#div-texto-mulher>div
{
    width: 200px;
    height: 100px;
}
/* ---------------------------------Section Mulher------------------------------------------- */

/* ---------------------------------Section Video------------------------------------------- */
#video
{
    height: 800px;
}
#video>.container>.row
{
    height: 700px;
}
#div-video
{
    height: 300px;
    width: 900px;
}
.box-video
{
    width: 335px;
}
#box-video-1,#box-video-2
{
    height: 190px;
    width: 335px;
}
.texto-video
{
    padding-top: 18px;
}
.play::after
{
    height: 48px;
    width: 48px;
    top: 71px;
    left: 144px;
}
#video>.vertodos
{
    margin-top: 10px;
}
/* ---------------------------------Section Video------------------------------------------- */

/* ---------------------------------Footer------------------------------------------- */
#footer
{
    height: 800px;
}
#cont-footer
{
    flex-direction: row;
    height: 400px;
    align-items: start;
}
#onde
{
    width: 328px;
}
#onde-texto
{
    justify-content: space-between;
}
#adicional
{
    max-width: 600px;
}
/* ---------------------------------Footer------------------------------------------- */


}
@media screen and (min-width:992px) and (max-width:1199px)
{
/* ---------------------------------Header------------------------------------------- */
    #burguer > div> span:nth-child(2)::after
{
    content: "MENU";
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -9px;
    left: 50px;
}
    #col-burguer
    {
        width: 118px;
    }
    #burguer
    {
        background-color: #000000;
        width: 118px;
        height: 52px;
    }
    #burguer > div> span
    {
        left: 25%;
    }
    .offscreen-menu
    {
        top: 0;
    }
/* ---------------------------------Header------------------------------------------- */

/* ---------------------------------Section Homem------------------------------------------- */

    .titulo
    {
        width: 584;
        height: 120px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #section1-phone>#sla>.titulo>h1
    {
        font-weight: bold;
        color: white;
        font-size: 60px;
    }
    #sla
    {
        margin-top: 100px;
    }
    .textbox>p
    {
        transform: translate(10%,20%);
        
    }
    #section1-phone>#sla>.ver-duvida>.vertodos
    {
        color: white;
    }
    .ver-duvida
    {
        width: 600px;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }

/* ---------------------------------Section Homem------------------------------------------- */
    
/* ---------------------------------Section Refri------------------------------------------- */
    #refri
    {
        height: 407px;
    }
    #refri>.container>.row
    {
        height: 400px;
    }
    .row
    {
    display: flex;
    justify-content: center;
    align-items: center;
    }
/* ---------------------------------Section Refri------------------------------------------- */

/* ---------------------------------Section Mulher------------------------------------------- */
#mulher
{
    height: 750px;
}
#mulher>.container>.row
{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 750px;
}
#img-mulher
{
    height: 324px;
    width: 316px;
    background-image: url(imagens/Group\ 1221.png);
}

.titulo-mulher
{
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-mulher>h1
{
    font-size: 60px;
    font-weight: bold;
}
.titulo-mulher>p
{
    font-size: 18px;
    color: #858585;
}

#div-texto-mulher
{
    height: 50px;
    width: 300px;
}    
#div-texto-mulher>div
{
    width: 300px;
    height: 100px;
}


#mulher-geral
{
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}
#div-texto-mulher-2
{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 370px;
}
/* ---------------------------------Section Mulher------------------------------------------- */

/* ---------------------------------Section Video------------------------------------------- */

#video
{
    height: 600px;
    width: 100%
}

#video>.container>.row
{
    flex-direction: row;
    justify-content: flex-start;
    height: 500px;
}

#div-video
{
    height: 300px;
    width: 1000px;
}

#box-video-1
{
    height: 255px;
    width: 451px;
}

#box-video-2
{
    height: 255px;
    width: 451px;
}
.texto-video
{
    padding-top: 20px;
    padding-left: 33px;
}

.play::after
{
    height: 65px;
    width: 65px;
    top: 95px;
    left: 193px;
}
#video>.container>.row>.vertodos
{
    margin-top: 37px;
    width: 270px;
    padding: 0;
}
/* ---------------------------------Section Video------------------------------------------- */

/* ---------------------------------Footer------------------------------------------- */
#footer
{
    height: 663px;
}
#logo-footer
{
    height:350px;
}
#mapa
{
    width: 227px;
}
#onde
{
    width: 328px;
}
#onde-texto
{
    justify-content: space-between;
}
#cont-footer
{
    height: 350px;
    width: 650px;
    flex-direction: row;
    align-items: start;
}
/* ---------------------------------Footer------------------------------------------- */
}

@media screen and (min-width:1200px)
{
/* ---------------------------------Header------------------------------------------- */
    header
    {
        height: 50px;
        flex-wrap: wrap;
    }
    #container-header
    {
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .link-desktop
    {
        position: relative;
    }
/* ------------------------------------Frufru MENU-------------------------------- */
a.link-desktop::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #F1F1F1;
    top: 20px;
    left: 0px;
    transition: 0.25s ease-in-out;
}
a.link-desktop:hover::before
{
    width: 100%;
}
/* ------------------------------------Frufru MENU-------------------------------- */
/* ---------------------------------Header------------------------------------------- */

/* ---------------------------------Section Homem------------------------------------------- */
    #section1-phone
    {
    height: 1000px;
    }
    #menu-desk>ul
    {
        width: 723px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    #container-header>svg
    {
        width: 251px;
    }
    .titulo
    {
        width: 584;
        height: 120px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #section1-phone>#sla>.titulo>h1
    {
        font-weight: bold;
        color: white;
        font-size: 60px;
    }
    #sla
    {
        height: 800px;
        width: 800px;
        margin-left: 100px;
    }
    .textbox>p
    {
        transform: translate(10%,20%);
        
    }

    #section1-phone>#sla>.ver-duvida>.vertodos
    {
        color: white;
    }
    .ver-duvida
    {
        width: 600px;
        height: 200px;
        justify-content: space-between;
        align-items: center;
    }
/* ---------------------------------Section Homem------------------------------------------- */
    
/* ---------------------------------Section Refri------------------------------------------- */
    #refri
    {
        height: 407px;
    }
    #refri>.container>.row
    {
        height: 400px;
    }
    .row
    {
    display: flex;
    justify-content: center;
    align-items: center;
    }
/* ---------------------------------Section Refri------------------------------------------- */

/* ---------------------------------Section Mulher------------------------------------------- */
#mulher
{
    height: 900px;
}
#mulher>.container>.row
{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 900px;
}
#img-mulher
{
    height: 450px;
    width: 437px;
    background-image: url(imagens/Group\ 1221.png);
}
.titulo-mulher
{
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-mulher>h1
{
    font-size: 60px;
    font-weight: bold;
}
.titulo-mulher>p
{
    font-size: 18px;
    color: #858585;
}
#div-texto-mulher
{
    height: 50px;
    width: 300px;
}    
#div-texto-mulher>div
{
    width: 300px;
    height: 100px;
}


#mulher-geral
{
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding-left: 98px;
    flex-flow: column wrap;
}

#div-texto-mulher-2
{
    height: 270px;
    width: 400px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows:70px 70px 70px;
    gap: 30px;
}    
#div-texto-mulher-2>div
{
    width: 200px;
    height: 100px;
}
/* ---------------------------------Section Mulher------------------------------------------- */

/* ---------------------------------Section Video------------------------------------------- */
#video
{
    height: 1100px;
}
#video>.container
{
    height: 1100px;
}
#video>.container>.row
{
    flex-direction: row;
    justify-content: flex-start;
    height: 1100px;
}

#div-video
{
    height:800px;
    width: 100%;
}
#box-video-1
{
    height: 306px;
    width: 543px;
    margin-bottom: 30px;
}
#box-video-2
{
    height: 306px;
    width: 543px;
    margin-bottom: 30px;
}
#box-video-3
{
    height: 306px;
    width: 543px;
    margin-bottom: 30px;
    background-image: url(imagens/Rectangle\ 78.png);
    background-size: cover;
    position: relative;
}
#box-video-4
{
    height: 306px;
    width: 540px;
    margin-bottom: 30px;
    background-image: url(imagens/image\ 11.png);
    background-size: cover;
    position: relative;

}
.play::after
{
    top: 114px;
    left: 233px;
}
#video>.container>.row>.vertodos
{
    margin-top: 10px;
    width: 270px;
    padding: 0;
}
.texto-video
{
    height: 80px;
    margin-top: -35px;
    padding-top: 20px;
    padding-left: 33px;
}

/* ---------------------------------Section Video------------------------------------------- */

/* ---------------------------------Footer------------------------------------------- */
#footer
{
    height: 663px;
}
#logo-footer
{
    height:350px;
}
#mapa
{
    width: 227px;
}
#onde
{
    width: 328px;
}
#onde-texto
{
    justify-content: space-between;
}
#cont-footer
{
    height: 350px;
    width: 700px;
    flex-direction: row;
    align-items: start;
}
/* ---------------------------------Footer------------------------------------------- */
}
