@charset "UTF-8";
*
{
    margin: 0;
    font-family: "Istok Web", sans-serif;
}
#lupa
{
    width: 58px;
    height: 58px;
    background-color: #ffff;
    border-radius: 50%;

}
#col-burguer
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#burguer
{
    height: 60px;
    width: 60px;
    position: relative;
}
#burguer > div> span
{
    height: 4px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease;

}

#burguer > div> span:nth-child(1)
{
    top:25%;
}
#burguer > div> span:nth-child(3)
{
    top:75%;
}
#burguer.active > div> span:nth-child(1)
{
    top: 35px;
    transform: translate(-50%, -50%) rotate(45deg);
}
#burguer.active > div> span:nth-child(2)
{
    opacity: 0;
}
#burguer.active > div> span:nth-child(3)
{
    top:50%;
    transform: translate(-50%,50%) rotate(-45deg);
}
.offscreen-menu
{
    background-color: rgba(86, 70, 70, 0.461);
    height: 80vh;
    width: 80%;
    max-width: 450px;
    position: fixed;
    top: 25%;
    right: -900px;
    font-size: 3rem;
    transition: .3s ease;
}
.offscreen-menu-on
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.offscreen-menu.active
{
    right: 0;
}

@media screen and (max-width:768px) 
{
header
{
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.cont-cell
{
    width: 100vw;
    display: flex;
    height: 70px;
    box-shadow: 1px 1px 5px rgba(55, 51, 51, 0.589);
    align-items: center;
    justify-content: space-between;
}

#section1-phone
{
    background-image:linear-gradient(to bottom, #413e8c7c, #706ef4) ;
    background-color: lightblue;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
#sla
{
    height: 720px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#sla>svg
{
    margin: 60px;
}
.titulo
{
    width: 290px;
    height: 84px;
}
#section1-phone>#sla>.titulo>h1
{
    color: white;
    font-weight: bold;
}
.textbox
{
    width: 290px;
    height: 81px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    display: flex;
    padding-left: 30px;
    align-items: center;
    font-size: 20px;
    padding-top: 10px; 
}
.div-textbox
{
 width: 300px;
 height: 180px;
 display: flex;
 flex-wrap: wrap;
 align-content: space-between;
}
.ver-duvida
{
width: 250px;
height: 200px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
#section1-phone>#sla>.ver-duvida>.vertodos
{
    color: white;
}
.vertodos
{
    font-weight: bold;
    font-size: 20px;
    width: 228px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.vertodos>div
{
    background-color: black;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    
}
.vertodos>p
{

    width: 180px;
    
}
.boxduvidas
{
 width: 290px;
 height: 46px;
 background-color: black;
 color: white;
 margin-top: 10px;
 border-radius: 20px;
 display: flex;
 align-items: center;
 
}
.boxduvidas>p
{       
    display: block;
    transform: translate(-10%,30%);
    font-weight: bold;
    font-size: 20px;
}
.boxduvidas>div
{
 width: 22px;
 height: 22px;
 background-color: white;
 margin: 30px;
}
#refri
{
    
    margin-bottom: 10px;
    background-color: #F1F1F1;
    height: 362px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#refri-texto
{
    width: 290px;;
    height:170px ;
    display: flex;
    text-align: center;
    align-items: center;
    color: #000000;
    font-size: 24px;
}
#refri-imagem
{
    width: 350px;
    height:62px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
#coca
{
    height: 65px;
    width: 110px;
    background-repeat: no-repeat;
    background-image: url(imagens/sap-partner-logo-2A876A4A2A-seeklogo\ 1.png);
}
#pepsi
{
    height: 50px;
    width: 135px;
    background-repeat: no-repeat;
    background-image: url(imagens/sap-business-one-logo-banner\ 1.svg)
}
#mulher
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#img-mulher>
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(imagens/Group\ 1220.png);
}
#button-mulher
{
    display: flex;
    width: 298px;
    height: 48px;
    justify-content: space-between;
}
#atual
{
    background-color: #706ef4;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#anos
{
    color: #706ef4;
    border: 2px solid #706ef4;
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-mulher
{
    padding: 10px;
    margin: 15px;
    text-align: start;
    border-bottom:4px solid#706EF4;;
}
.texto-mulher::before
{
    content: url(imagens/Group\ 1067.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    
}
#video
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 600px;
    text-align: center;
    margin: 10px;
}
#video>.container>.row
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 500px;
}

.box-video
{
    height: 165px;
    width: 291px;
    margin-bottom: 40px;
}
#video>.vertodos
{
    margin-top: 10px;
}
}
@media screen and (min-width:768px) and (max-width:992px)
{
    header
    {
        top: 20px;
        left: 0px;
        width: 100vw;
        height: 70px;
        color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;

    }
    #burguer > div> span:nth-child(2)::after
{
    content: "MENU";
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -9px;
    left: 50px;
}
    .cont-cell
    {
        display: flex;
        width: 100vw;
        height: 70px;
        align-items: center;
        justify-content: space-between;
    }
    #col-burguer
    {
        width: 118px;
    }
    #burguer
    {
        background-color: #000000;
        width: 118px;
        height: 52px;
    }
    #burguer > div> span
    {
        left: 25%;
    }
    #section1-phone
    {
    background-image:url(imagens/hero-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: flex-start;
    justify-content: center;
    }
    #section1-phone>svg
    {
        display: none;
    }
    .titulo
    {
        width: 584;
        height: 120px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #section1-phone>#sla>.titulo>h1
    {
        font-weight: bold;
        color: white;
        font-size: 60px;
    }
    #sla
    {
        height: 545px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

    }
    .textbox
    {
        width: 290px;
        height: 81px;
        background-color: #000000;
        border-radius: 3px;
        color: white;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 20px 20px 20px 0px;
        
    }
    .textbox>p
    {
        transform: translate(10%,20%);
        
    }
    .div-textbox
    {
        width: 600px;
        height: 245px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #section1-phone>#sla>.ver-duvida>.vertodos
    {
        color: white;
    }
    .ver-duvida
    {
        width: 600px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .vertodos
    {
        font-weight: bold;
        font-size: 20px;
        width: 228px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vertodos>div
    {
        background-color: black;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        
    }
    .vertodos>p
    {
        transform: translate(5%,30%);
        width: 180px;
        
    }
    .boxduvidas
    {
    width: 290px;
    height: 46px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    }
    .boxduvidas>p
    {       
        display: block;
        transform: translate(-10%,30%);
        font-weight: bold;
        font-size: 20px;
    }
    .boxduvidas>div
    {
    width: 22px;
    height: 22px;
    background-color: white;
    margin: 30px;
    }
    #refri
    {
        
        margin-bottom: 10px;
        background-color: #F1F1F1;
        height: 362px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row
    {
    display: flex;
    justify-content: center;
    align-items: center;
    }
#refri-texto
{
    width: 500px;;
    height:170px ;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    color: #000000;
    font-size: 32px;
}
#refri-imagem
{
    width: 500px;;
    height:105px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
#coca
{
    height: 110px;
    width: 190px;
    background-repeat: no-repeat;
    background-image: url(imagens/sap-partner-logo-2A876A4A2A-seeklogo\ 1.svg);
    background-size: contain;

}
#pepsi
{
    height: 100px;
    width: 240px;
    background-repeat: no-repeat;
    background-image: url(imagens/sap-business-one-logo-banner\ 1.svg);
    background-size: contain;
}
#mulher
{
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    text-align: center;
    height: 1300px;
}
#mulher>.container>.row
{
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 1300px;
}
#img-mulher
{
    height: 454px;
    width: 454px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    padding-top: 30px;
    background-image: url(imagens/Group\ 1220.png);
}
#titulo-mulher
{
    height: 70px;
    width: 545px;
}
#titulo-mulher>h1
{
    font-size: 60px;
    font-weight: bold;
}
#titulo-mulher>p
{
    font-size: 18px;
    color: #858585;
}
#button-mulher
{
    display: flex;
    width: 298px;
    height: 48px;
    justify-content: space-between;
}
#atual
{
    background-color: #706ef4;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#anos
{
    color: #706ef4;
    border: 2px solid #706ef4;
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-texto-mulher
{
    height: 50px;
    width: 700px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows:50px;
    gap: 30px;
}    
#div-texto-mulher>div
{
    width: 200px;
    height: 100px;
}
.texto-mulher
{
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: start;
    border-bottom: 4px solid #706EF4;
}
.texto-mulher::before
{
    content: url(imagens/Group\ 1067.svg);
    margin-right: 10px;
    margin-top: 5px;

}
#video
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 600px;
    width: 100vw;
    text-align: center;
    margin: 10px;
}
#video>.container>.row
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 500px;
}
#div-video
{
    display: flex;
    flex-wrap: nowrap;
}

.box-video
{
    height: 165px;
    width: 291px;
}
#video>.vertodos
{
    margin-top: 10px;
}
}
@media screen and (min-width:993px)
{
    body{
        background-color: red;
    }
    header
    {
        top: 20px;
        left: 0px;
        width: 100vw;
        height: 70px;
        color: transparent;
        position: absolute;
        display: flex;
        justify-content: center;

    }
    #burguer > div> span:nth-child(2)::after
{
    content: "MENU";
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -9px;
    left: 50px;
}
    .cont-cell
    {
        display: flex;
        width: 100vw;
        height: 70px;
        align-items: center;
        justify-content: space-between;
    }
    #col-burguer
    {
        width: 118px;
    }
    #burguer
    {
        background-color: #000000;
        width: 118px;
        height: 52px;
    }
    #burguer > div> span
    {
        left: 25%;
    }
    #section1-phone
    {
    background-image:url(imagens/hero-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: flex-start;
    justify-content: center;
    }
    .titulo
    {
        width: 584;
        height: 120px;
        text-align: justify;
        margin-bottom: 30px;
    }
    #section1-phone>#sla>.titulo>h1
    {
        font-weight: bold;
        color: white;
        font-size: 60px;
    }
    #sla
    {
        height: 545px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        

    }
    .textbox
    {
        width: 290px;
        height: 81px;
        background-color: #000000;
        border-radius: 3px;
        color: white;
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 20px 20px 20px 0px;
        
    }
    .textbox>p
    {
        transform: translate(10%,20%);
        
    }
    .div-textbox
    {
        width: 600px;
        height: 245px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #section1-phone>#sla>.ver-duvida>.vertodos
    {
        color: white;
    }
    .ver-duvida
    {
        width: 600px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .vertodos
    {
        font-weight: bold;
        font-size: 20px;
        width: 228px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vertodos>div
    {
        background-color: black;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        
    }
    .vertodos>p
    {
        transform: translate(5%,30%);
        width: 180px;
        
    }
    .boxduvidas
    {
    width: 290px;
    height: 46px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    }
    .boxduvidas>p
    {       
        display: block;
        transform: translate(-10%,30%);
        font-weight: bold;
        font-size: 20px;
    }
    .boxduvidas>div
    {
    width: 22px;
    height: 22px;
    background-color: white;
    margin: 30px;
    }
}